# MACHINE LEARNING PROJECT

## A. DATA PRE-PROCESSING

### 1. INPUT DATA

In [3]:
# import library
import pandas as pd # pandas digunakan untuk memproses data frame
import numpy as np # numpy digunakan untuk memproses data numerik

In [18]:
# read data full list
full_list = pd.read_csv('../data-dummy/full-list.csv', delimiter=';')

# tampilkan data
print(full_list)

   EMP ID EMP NAME GENDER  TAX STATUS  BPJS ID  BANK NAME  ACCOUNT NUMBER  \
0       1   EMP 01      M         NaN      NaN        NaN             NaN
1       2   EMP 02      F         NaN      NaN        NaN             NaN
2       3   EMP 03      F         NaN      NaN        NaN             NaN
3       4   EMP 04      M         NaN      NaN        NaN             NaN
4       5   EMP 05      M         NaN      NaN        NaN             NaN
5       6   EMP 06      M         NaN      NaN        NaN             NaN
6       7   EMP 07      F         NaN      NaN        NaN             NaN

   ACCOUNT NAME  FULL BASIC SALARY  COMPANY  ...  SUB BRAND  BRAND  DIVISION  \
0           NaN                NaN      NaN  ...        NaN    NaN       NaN
1           NaN                NaN      NaN  ...        NaN    NaN       NaN
2           NaN                NaN      NaN  ...        NaN    NaN       NaN
3           NaN                NaN      NaN  ...        NaN    NaN       NaN
4           NaN                NaN      NaN  ...        NaN    NaN       NaN
5           NaN                NaN      NaN  ...        NaN    NaN       NaN
6           NaN                NaN      NaN  ...        NaN    NaN       NaN

   UNIT  WORKING LOCATION  BUSINESS AREA 1  BUSINESS AREA 2  BASIC SALARY  \
0   NaN               NaN              NaN              NaN           NaN
1   NaN               NaN              NaN              NaN           NaN
2   NaN               NaN              NaN              NaN           NaN
3   NaN               NaN              NaN              NaN           NaN
4   NaN               NaN              NaN              NaN           NaN
5   NaN               NaN              NaN              NaN           NaN
6   NaN               NaN              NaN              NaN           NaN

   EMPLOYEE TAX  TAKE HOME PAY
0           NaN            NaN
1           NaN            NaN
2           NaN            NaN
3           NaN            NaN
4           NaN            NaN
5           NaN            NaN
6           NaN            NaN

[7 rows x 30 columns]