# MACHINE LEARNING PROJECT

## A. DATA PRE-PROCESSING

### 1. INPUT DATA

In [3]:
# import library
import pandas as pd # pandas digunakan untuk memproses data frame
import numpy as np # numpy digunakan untuk memproses data numerik

In [19]:
# read data full list
full_list = pd.read_csv('../data-dummy/full-list.csv', delimiter=';')

# tampilkan data
print(full_list)

   EMP ID EMP NAME GENDER TAX STATUS  FULL BASIC SALARY  COMPANY  PAY GROUP  \
0       1   EMP 01      M        TK0                NaN      NaN        NaN
1       2   EMP 02      F         K0                NaN      NaN        NaN
2       3   EMP 03      F         K0                NaN      NaN        NaN
3       4   EMP 04      M        TK0                NaN      NaN        NaN
4       5   EMP 05      M         K1                NaN      NaN        NaN
5       6   EMP 06      M         K2                NaN      NaN        NaN
6       7   EMP 07      F         K1                NaN      NaN        NaN

   TAX GROUP  EMPLOYMENT STATUS  JOB TITLE  ...  SUB BRAND  BRAND  DIVISION  \
0        NaN                NaN        NaN  ...        NaN    NaN       NaN
1        NaN                NaN        NaN  ...        NaN    NaN       NaN
2        NaN                NaN        NaN  ...        NaN    NaN       NaN
3        NaN                NaN        NaN  ...        NaN    NaN       NaN
4        NaN                NaN        NaN  ...        NaN    NaN       NaN
5        NaN                NaN        NaN  ...        NaN    NaN       NaN
6        NaN                NaN        NaN  ...        NaN    NaN       NaN

   UNIT  WORKING LOCATION  BUSINESS AREA 1  BUSINESS AREA 2  BASIC SALARY  \
0   NaN               NaN              NaN              NaN           NaN
1   NaN               NaN              NaN              NaN           NaN
2   NaN               NaN              NaN              NaN           NaN
3   NaN               NaN              NaN              NaN           NaN
4   NaN               NaN              NaN              NaN           NaN
5   NaN               NaN              NaN              NaN           NaN
6   NaN               NaN              NaN              NaN           NaN

   EMPLOYEE TAX  TAKE HOME PAY
0           NaN            NaN
1           NaN            NaN
2           NaN            NaN
3           NaN            NaN
4           NaN            NaN
5           NaN            NaN
6           NaN            NaN

[7 rows x 26 columns]

In [20]:
# cek data yang hilang
full_list.isnull().sum(axis=0)

EMP ID               0
EMP NAME             0
GENDER               0
TAX STATUS           0
FULL BASIC SALARY    7
COMPANY              7
PAY GROUP            7
TAX GROUP            7
EMPLOYMENT STATUS    7
JOB TITLE            7
ORGANIZATION UNIT    7
BPJS GROUP           7
COST CENTER          7
LEVEL                7
JOB LEVEL            7
DEPARTMENT           7
SUB BRAND            7
BRAND                7
DIVISION             7
UNIT                 7
WORKING LOCATION     7
BUSINESS AREA 1      7
BUSINESS AREA 2      7
BASIC SALARY         7
EMPLOYEE TAX         7
TAKE HOME PAY        7
dtype: int64